
.vs/Thread/v16/Server/sqlite3/db.lock
.vs/Thread/v16/.suo
.vs/Thread/v16/Server/sqlite3/storage.ide
.vs/Thread/v16/Server/sqlite3/storage.ide-shm
.vs/Thread/v16/Server/sqlite3/storage.ide-wal
.vs/Thread/v16/Server/sqlite3/storage.ide
